@font-face{
  font-family: DOS;
  src: url(fonts/DOS.ttf);
  font-display: block;
  block-timeout: .3;
}
body{
  margin:0px;
  background-color: #181818;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
  left:0px;
  font-family: DOS;
  width:100vw;
  height: 70vh;
  color:white;
  z-index: 5;
  font-size: 62px;
}

.typecur{
  --vis:visible;
  visibility: var(--vis);
}
.glide{
  margin-top:0px;
  padding-top:0px;
}
.glide *{
  margin-top:0px;
  padding-top:0px;
}
.glide__slides, .glide__slide{
  height:70vh;
  font-family: DOS;
  text-align: center;
  background-color:#101010 ;
}
.docfot{
  text-align:center;
  position: absolute;
  width:100vw;
  bottom:0px;
  left:0px;
  right:0px;
  font-family: DOS;
  color:white;
  font-size:20px;
}
#navbar{
  background-color:rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  top:0;
  width:100vw;
  height:6vh;
  z-index: 20;
  display: flex;
  //justify-content: center;
  align-items: center;
  font-family:DOS;
  font-size: 2.7vh;
}
#navbar div{
  height:6vh;
  width:6vh;
  margin-left:10px;
  background-image: url("images/Lanntransparent.png");
  background-repeat:no-repeat;
  background-size:contain;
  cursor:pointer;
}
.invis{
  display:none;
}
#navbar span > :first-child{
  margin-left: 100px;
  cursor: pointer;
}
#navbar span #uno, #dos, #tres{
  margin-left: 100px;
  cursor: pointer;
}
#navbar span *{
  color: white;
  transition: color .5s linear;
}
#navbar span *:hover{
  color:darkgray;
}
