@font-face{
  font-family: DOS;
  src: url(fonts/DOS.ttf);
  font-display: block;
  block-timeout: .3;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
html{
  scroll-behavior: smooth;
}
body{
  margin:0px;
  background-color: #181818;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
                                  overflow-x: hidden;
                                  max-width: 100vw;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
  left:0px;
  font-family: DOS;
  width:100vw;
  height: 70vh;
  color:white;
  z-index: 5;
  font-size: 62px;
}
.glide{
  margin-top:0px;
  padding-top:0px;
}
.glide *{
  margin-top:0px;
  padding-top:0px;
}
.glide__slides, .glide__slide{
  margin-top:6vh;
  height:90vh;
  font-family: DOS;
  text-align: center;
  background-color:#101010 ;
}
.docfot{
  text-align:center;
  position: fixed;
  width:100vw;
  bottom:0px;
  left:0px;
  right:0px;
  font-family: DOS;
  color:white;
  font-size:20px;
}
#navbar{
  background-color:rgba(0,0,0,.3);
  position: fixed;
  left: 0;
  top:0;
  width:100vw;
  height:6vh;
  z-index: 20;
  display: flex;
  align-items: center;
  font-family:DOS;
  font-size: 2.7vh;
}
#navbar div{
  height:6vh;
  width:6vh;
  margin-left:10px;
  background-image: url("images/Lanntransparent.png");
  background-repeat:no-repeat;
  background-size:contain;
  cursor:pointer;
}
.invis{
  display:none;
}
#navbar span > :first-child{
  margin-left: 100px;
  cursor: pointer;
}
#navbar #uno, #dos, #tres, #quatro{
  margin-left: 100px;
  cursor: pointer;
  transition: transform .25s linear;
}
#navbar a{
  text-decoration: none;
  color:white;
}
#navbar span{
  color: white;
  transition: color .5s linear;
}
#navbar span:hover{
  color:;
}
.list-cont{
  width:100vw;
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#list-content{
  position: relative;
  display: flex;
  align-items: center;
  width:50%;
  height:98%;
  background: #101010;
  border-radius: 10px;
}
#list-filter{
  display: flex;
  position: absolute;
  justify-content: center;
  //align-items: center;
  left:10px;
  width:20%;
  height:95%;
  background-color: #181818;
  border-radius: 15px;
}
#list-filter span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  margin-top: 20px;
  font-family: DOS;
  color:white;
  background-color: #101010;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
#list-list{
  position: relative;
  margin-left:22%;
  width:75%;
  height: 95%;
  background: red;
  border-radius: 15px;
  z-index: 2;
}
.elem{
  position: relative;
  display: inline-block;
  width:49.5%;
  background: #101010;
  height:50%;
  border-radius: 10px;
  overflow: scroll;
  overflow-x:hidden;
  z-index: 9999999;
  transition: transform .5s ease;
}
.elem::-webkit-scrollbar{
  display: none;
}
.elem:hover{
  transform: scale(1.2);
}
.elem iframe{
  margin-top:10px;
  margin-left:8.5%;
  border: 0;
  border-radius: 10px;
  width: 85%;
  overflow: hidden;
  transition: transform .5s ease;
}
.elem iframe:hover{
  transform: scale(1.1);
}
.elem p{
  font-size: 30px;
  width:100%;
  text-align: center;
  color: white;
  font-family: DOS;
}
.elem div{
  width:100%;
  text-align: center;
  color:white;
  font-family: DOS;
}
